
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway:200|Sahitya|Source+Sans+Pro:700');

@import "bootstrap-sprockets";
@import "bootstrap";


@import "users.scss";
@import "results.scss";
@import "hobo-result.scss";

body{
	background-image: image-url('collage.jpg');
}

h2{
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 25px;
}

.jumbotron {
	font-size: 25px;
	padding: 35px;
	margin: 10%;

	@media screen and (min-width: 600px) {
		margin-top: 100px;
		margin-left: 30%;
		margin-right: 30%;
	}

	font-family: 'Sahitya', serif;
	padding-bottom: 50px;
	padding-top: 25px;
	border-radius: 10px;
}
.container {
	margin: auto;
  	vertical-align: center;
  	text-align: center;
}
.piccontainer {
	background-color: #F0F1F3;
	text-align: center;
	vertical-align: center;
	padding-bottom: 8px;
	padding-top: 8px;
}
.btn-group {
	font-family: 'Source Sans Pro', sans-serif;
}
.search {
	font-family: 'Source Sans Pro', sans-serif;

}
.well{
	font-family: 'Raleway', sans-serif;
	@media screen and (min-width: 550px) {

	}
}

