.jumbotron2 {

  	vertical-align: center;
  	text-align: center;
	font-size: 20px;
	padding: 5px;
	margin: 50px;
	margin-right: 200px;
	margin-left: 200px;
	font-family: 'Sahitya', serif;
	padding-bottom: 50px;
	padding-top: 25px;
	border-radius: 10px;

  }

  .accordion {
    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #d5d0d0;
    border-style: solid;
    border-width: 12px;
    border-radius: 21px;
    margin: 0 auto;
    height: 545px;
    width: 700px;
}

.accordion > ul > li,
.accordion-title,
.accordion-content,
.accordion-separator {
    float: none;
}

.accordion > ul > li {
    background-color: #1f1f1f;
    margin-right: -0px;
    margin-bottom: -210px;
}

.accordion-select:checked ~ .accordion-separator {
    margin-right: 0px;
    margin-bottom: 210px;
}

.accordion-title,
.accordion-select  {
    background-color: #f4f3f3;
    color: #9c9797;
    width: 700px;
    height: 65px;
    font-size: 20px;
}

.accordion-title span {
    margin-bottom: 20px; 
    margin-left: 33px;
}

.accordion-select:hover ~ .accordion-title,
.accordion-select:checked ~ .accordion-title {
    background-color: #d3dbe9;
}

.accordion-title span  {	
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    margin-bottom: 0px;
    line-height: 65px;
}

.accordion-content {
    background-color: #eeeeee;
    color: #898786;
    height: 154px;
    width: 644px;
    padding: 28px;
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
    margin-right: 2px;
    margin-bottom: 2px;
}

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}